Diagnostics:
  UnusedIncludes: None
  MissingIncludes: Strict
  Suppress:
    - drv_argument_not_allowed_with
  
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

---

If:
  PathMatch: .*\.cpp$

CompileFlags:
  Add:
    - -std=c++20
    - -ffreestanding
    - -nostdlib
    - -I../../lib/libfracture/include
    - -I../lib/libfracture/include
    - -Ilib/libfracture/include
  Remove:
    - -stdlib=*

---

If:
  PathMatch: .*\.c$

CompileFlags:
  Add:
    - -std=c11
    - -ffreestanding
    - -nostdlib
  Remove:
    - -stdlib=*
